h2{
    color: #0e0e0c;
    font-weight: 500;
    font-size: 3.4rem;
    opacity: 0.8;
    text-align: center;
}

.weather-container{
    font-family: "Poppins", sans-serif;
    background:linear-gradient(to right top, #dacee7, #ab65e4);
    text-align: center;
    border-radius: 10px;
    padding: 0;
}

.place{
    padding: 15px 0 0 10px;
    font-size: 50px;
    text-align: left;
    display: flex;
    justify-content: center;
    
}

.icon{
    height: 100px;
    width: 100px;
}

.weather{
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.temp{
    align-items: center;
    padding: 15px 0 0 10px;
    font-size: 50px;
    margin: 0;
    font-weight: inherit;
    font-family: Arial, Helvetica, sans-serif;
}

