* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    background-image: url("./IMG_20221004_141910.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h2{
    font-size: 3.3rem;
    font-weight: bold;
    padding: 3rem;
    color: #1A4D2E;
}

.coming-soon{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    /*justify-content: center;*/

}

.countdown{
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #9A1663;
}

.day,.hour,.minute,.seconds{
    font-size: 2.5rem;

}

